absl-py
altair
asttokens
attrs
backcall
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
contourpy
cycler
Cython
decorator
easydict
entrypoints
executing
filelock
flake8
fonttools
future
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h5py
idna
imageio
importlib-metadata
ipython
isort
jedi
Jinja2
jsonschema
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
numpy
oauthlib
opencv-python
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
protobuf
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pydeck
pyflakes
Pygments
Pympler
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
requests
requests-oauthlib
rich
rsa
scipy
seaborn
semver
six
smmap
soupsieve
stack-data
streamlit
tb-nightly
tensorboard-data-server
tensorboard-plugin-wit
toml
toolz
# torch
# torchvision
tornado
# tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
Werkzeug
yacs
yapf
zipp
